<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>

  <body>
    <h2>Welcome to ....<h2>
<p>
  The time is now: <%= Time.now %>
</p>
  </body>
</html>